{
  "svelteSortOrder": "scripts-styles-options-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "semi": true,
  "printWidth": 120
}
