
$font-family: 'Raleway', 'Open Sans', sans-serif;

// = Sizing
// - Font Sizes
$font-size-base: 16px;

$font-size-smallest: 0.85rem;
$font-size-small: 0.952em;
$font-size-normal: 1rem;
$font-size-larger: 1.2rem;

$line-height-base: 1.5rem;

// other important sizes
//  touch targets should be min 48x48
//  click should be min 24x24

// - Spacing
//   https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

$space-stack-xs: 0 0 4px 0;
$space-stack-s: 0 0 8px 0;
$space-stack-m: 0 0 16px 0;
$space-stack-l: 0 0 32px 0;
$space-stack-xl: 0 0 64px 0;

$space-inset-xs: 4px 4px 4px 4px;
$space-inset-s: 8px 8px 8px 8px;
$space-inset-m: 16px 16px 16px 16px;
$space-inset-l: 32px 32px 32px 32px;
$space-inset-xl: 64px 64px 64px 64px;

$space-default: $space-m;
$space-stack-default: $space-stack-m;
$space-inset-default: $space-inset-m;

// = Colors
$cs_blue: #5bc0eb;          //      91, 192, 235
$cs_green: #9bc53d;
$cs_orange: #f0b83e;
$cs_red: #c3423f;
$cs_darkgrey: #404e4d;

$cs_lightblue: #e3f4fc;
$cs_lighterblue: #f6f8fa;

$ws_white: #FFFFFF;

// https://mdigi.tools/color-shades/#404e4d
$cs-grey-0: #ebefee;
$cs-grey-1: #c3cecd;
$cs-grey-2: #9badac;
$cs-grey-3: #738c8a;
$cs-grey-4: #526463;
$cs-grey-5: #313c3b;
$cs-grey-6: #101414;


// https://mdigi.tools/color-shades/#5bc0eb
$color-accent-1: $cs_blue;
$color-accent-1-darker: #32b0e6; //darken($cs_blue, 10%);
$color-accent-1-lighter: #8dd3f1; //lighten($cs_blue, 10%);
$color-accent-1-lightest: #e8f6fc;
$color-accent-2: $cs_orange;

$color-background-white: $ws_white;
$color-background-light: $cs_lighterblue;
$color-background-dark: $cs_darkgrey;

$text-color-default: $cs-grey-5;
$text-color-light: $cs-grey-4;
$text-color-inverse: $ws_white;

// material
// $shadow-main: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$shadow-main: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.075) 0px 2px 6px 2px;
$shadow-main-hover: 0 14px 28px rgba(0,0,0,0.25),
                    0 10px 10px rgba(0,0,0,0.22);

$shadow-nav-button: 1px 0px 2px 0px rgba(60, 64, 67, 0.3);
$shadow-push: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$shadow-smallest: 1px 0px 2px 0px rgba(60, 64, 67, 0.3);

$button-transitions: all 0.3s cubic-bezier(.25,.8,.25,1);

// $shadow-main:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  // large shadow, soft
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    //   rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    //   rgba(0, 0, 0, 0.23) 0px 6px 6px;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    // box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    //   rgba(17, 17, 26, 0.1) 0px 0px 8px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
