@import "./variables";
@import "./mixins/textCrop";
@import "./overrides";
@import "./uiconmax";


@mixin standard-font{
  font-size: $font-size-base;
  font-family: $font-family;
  color: $text-color-default;
}

html, button {
  @include standard-font;
}

body{
  background-color: $color-background-white;
  margin: 0px;
  @include standard-font;
}

h1, .h1 {
  @include text-crop;
  font-size: 1.5rem;
}
h2, .h2 {
  @include text-crop;
  font-size: 1.25rem;
}
h3, .h3 {
  @include text-crop;
  font-size: 1.15rem;
}
h4, .h4 {
  @include text-crop;
  font-size: 1rem;
}
h5, .h5 {
  @include text-crop;
  font-size: 1rem;
}

a, a:visited{
  color: $color-accent-1;
  text-decoration: underline;
}
a:hover{
  color: $color-accent-1-darker;
  text-decoration: none;
}
a.disabled{
  cursor: pointer;
  color: $cs-grey-3;
  text-decoration: none;
  pointer-events: none;
}

.gdb-input,
input[type=text],
input[type=password],
input[type=date],
input[type=number],
select {
  border: 1px solid $cs-grey-2;
  border-radius: 2px;
  padding: $space-xs;
  display: inline-block;
  line-height: 1.5rem;
  @include standard-font;

  &.gdb-pronounced {
    padding: $space-s;
  }

  &:active,
  &:focus {
    border: 1px solid $color-accent-1-darker;
    outline: none;
  }
}

select {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  background-color: white;
  // background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE;
}

.gdb-button {
  cursor: pointer;
  font-size: $font-size-normal;
  border-radius: 4px;
  border: 0px;
  outline: none;
  line-height: 2rem;
  min-height: 2rem;
  padding: 0 $space-m 0 $space-m;
  box-shadow: $shadow-main;
  transition: $button-transitions;


  &:active {
    box-shadow: $shadow-push;
  }

  &:focus-within {
    outline: dotted $cs_orange;
  }
}

.gdb-bs-primary {
  background-color: $color-accent-1;
  border: 2px solid $color-accent-1;
  color: $text-color-inverse;

  &:hover {
    background-color: $color-accent-1-darker;
  }

  &:active {
    background-color: $color-accent-1-darker;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background-color: $cs-grey-0;
    color: $cs-grey-1;
    border-color: $cs-grey-1;
    box-shadow: none;
    cursor: default;
  }
}
