@import "./variables";
@import "./mixins/textCrop";
@import "./uiconmax";

html {
  font-size: $font-size-base;
  font-family: $font-family;
}

body{
  background-color: $color-background-white;
  color: $text-color-default;
  margin: 0px;
}

h1, .h1 {
  @include text-crop;
  font-size: 2.5rem;
}
h2, .h2 {
  @include text-crop;
  font-size: 2rem;
}
h3, .h3 {
  @include text-crop;
  font-size: 1.75rem;
}
h4, .h4 {
  @include text-crop;
  font-size: 1.5rem;
}
h5, .h5 {
  @include text-crop;
  font-size: 1.25rem;
}

a, a:visited{
  color: $color-accent-1;
  text-decoration: underline;
}
a:hover{
  color: $color-accent-1-darker;
  text-decoration: none;
}
a.disabled{
  cursor: pointer;
  color: $cs_darkgrey;
  text-decoration: none;
  pointer-events: none;
}
