@font-face {
    font-family: "UiconMAX";
    src: url("/fonts/UiconMAX.eot?d6d74e66f6f5eeb0268b5dc697118406?#iefix") format("embedded-opentype"),
url("/fonts/UiconMAX.woff2?d6d74e66f6f5eeb0268b5dc697118406") format("woff2"),
url("/fonts/UiconMAX.woff?d6d74e66f6f5eeb0268b5dc697118406") format("woff"),
url("/fonts/UiconMAX.ttf?d6d74e66f6f5eeb0268b5dc697118406") format("truetype"),
url("/fonts/UiconMAX.svg?d6d74e66f6f5eeb0268b5dc697118406#UiconMAX") format("svg");
}

i[class^="true-"]:before, i[class*=" true-"]:before {
    font-family: UiconMAX !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.true-Arrows_empty_curved_arrow_left:before {
    content: "\f101";
}
.true-Arrows_thin_arrows_fullscreen_directions_full_screen:before {
    content: "\f102";
}
.true-BusinessandFinance_business_finance_invoice:before {
    content: "\f103";
}
.true-Construction_attention_alert:before {
    content: "\f104";
}
.true-Construction_building:before {
    content: "\f105";
}
.true-Construction_gear_cog_engineering_engine_machine:before {
    content: "\f106";
}
.true-Construction_pc_computer_engineering:before {
    content: "\f107";
}
.true-Email_forward_message_arrow_right:before {
    content: "\f108";
}
.true-Email_reply_arrow_left_direction_undo:before {
    content: "\f109";
}
.true-FilesandFolders_file_download:before {
    content: "\f10a";
}
.true-GraphicDesign_pencil:before {
    content: "\f10b";
}
.true-GraphicDesign_picture_add:before {
    content: "\f10c";
}
.true-GraphicDesign_picture:before {
    content: "\f10d";
}
.true-InterfaceElements_interface_ui_controls_sliders:before {
    content: "\f10e";
}
.true-InterfaceElements_interface_ui_dots_menu:before {
    content: "\f10f";
}
.true-UIEssentials_button_circle_round_add:before {
    content: "\f110";
}
.true-UIEssentials_button_circle_round_arrow_next:before {
    content: "\f111";
}
.true-UIEssentials_button_circle_round_arrow_previous:before {
    content: "\f112";
}
.true-UIEssentials_button_circle_round_delete_x:before {
    content: "\f113";
}
.true-UIEssentials_download:before {
    content: "\f114";
}
.true-UIEssentials_trash_bin_delete:before {
    content: "\f115";
}
.true-Users_users_female_male_people:before {
    content: "\f116";
}
.true-Videogames_controller_joystick_games_video_console:before {
    content: "\f117";
}
