@{
    Layout = "../_Layout.cshtml";
    TempData["title"] = "Password Reset Error";
}

<div class="gdb-floating-box">
    <h1>Password Reset Email Error</h1>
    <p>Sorry, we ran into an error sending your password reset email. </p>
    <p>An automated alert was sent for me to look into it. Please try again and if it continues, DM (@@tarwn on twitter) or email me directly (eli@launchready.co).</p>
</div>
