@{
    Layout = "../_Layout.cshtml";
    TempData["title"] = "Forgot Password";
}
<div class="gdb-floating-box">
    <h1>Enter your Username</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    @Html.AntiForgeryToken()
    <label>
        <span class="gdb-label-text">Username</span>
        <input type="text" name="username" class="gdb-pronounced" />
    </label>
    <input type="submit" value="Reset Password" class="gdb-button gdb-bs-primary" />
</form>
</div>
