@{
    Layout = "../_Layout.cshtml";
    TempData["title"] = "Login";
}
<div class="gdb-floating-box">
    <h1>You have logged out</h1>
    <p>You have logged out, <a href="/" title="Return to the login screen">Return to the login screen</a></p>
</div>
