@{
    Layout = "../_Layout.cshtml";
    TempData["title"] = "Access Denied";
}

<div class="gdb-floating-box">
    <h1>Password Reset Failed</h1>
    <p>Sorry, either the reset link has timed out or the user account is no longer active.</p>
    <p>Please <a href="mailto:support@launchready.co">email us</a> so we can help get this straightened out.</p>
</div>
