@{
    Layout = "../_Layout.cshtml";
    TempData["title"] = "Access Denied";
}

<div class="gdb-floating-box">
    <h1>Password Reset Successfully!</h1>
    <p>Thanks, your password has been reset. Please head back to the login page to try it out: <a href="/account/login" title="Login Page">Login page</a></p>
</div>
