@import "../../variables";

  .gdb-entry-list {
    margin: 0;
    list-style-type: disc;
    margin-left: 4rem; // matches label min-size padding
    padding-left: $space-s; // matches label.text min-size padding
  }
  .gdb-entry-list-item-new,
  .gdb-entry-list-item {
    line-height: $line-height-base; // matches label
    margin: $space-s 0; // matches Row
  }

  .gdb-entry-list-item-new {
    list-style-type: none;

    &:focus-within::before {
      content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $cs_blue;
      font-weight: bold;
      font-size: $font-size-larger;
      display: inline-block;
      width: 15px;
      margin-left: -15px;
    }
  }

  input.gdb-entry-input-new,
  input.gdb-entry-input {
    width: 26rem;
  }

  input.gdb-entry-input-new {
    border-style: dashed;

    &:active,
    &:focus {
      border-style: solid;
    }
  }
