@import "../../variables";
@import "../../mixins/loadingPulse";

.gdb-board {
  display: grid;
  grid-template-columns:
    [e0] minmax(0, 20fr) [e1] minmax(0, 20fr) [e2] minmax(0, 10fr)
    [e2-5] minmax(0, 10fr) [e3] minmax(0, 20fr) [e4] minmax(0, 20fr) [e5];
  grid-template-rows:
    [r0] minmax(0, 20fr) [r1] minmax(0, 20fr) [r2] minmax(0, 15fr)
    [r3];
  align-items: stretch;
  min-width: 1024px;
  min-height: 768px;
  max-width: 1280;
  max-height: 1024px;
  border: 3px solid $cs-grey-4;

  &.isMiniMap {
    min-width: 360px;
    min-height: 240px;
    max-width: 360px;
    max-height: 240px;
    font-size: 4px;
    border-width: 1px;
    // transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    & > .gdb-board-section {
      padding: 4px;
      border-width: 1px;
    }

    & > .gdb-board-section > h3 {
      margin-top: 4px;
      font-size: 4px;
      white-space: nowrap;
    }

    & .gdb-board-button-panel {
      display: none;
    }
  }
}

.gdb-board-keyPartners {
  grid-column-start: e0;
  grid-column-end: e1;
  grid-row-start: r0;
  grid-row-end: r2;
}

.gdb-board-keyActivities {
  grid-column-start: e1;
  grid-column-end: e2;
  grid-row-start: r0;
  grid-row-end: r1;
}

.gdb-board-keyResources {
  grid-column-start: e1;
  grid-column-end: e2;
  grid-row-start: r1;
  grid-row-end: r2;
}

.gdb-board-valueProposition {
  grid-column-start: e2;
  grid-column-end: e3;
  grid-row-start: r0;
  grid-row-end: r2;
}

.gdb-board-customerRelationships {
  grid-column-start: e3;
  grid-column-end: e4;
  grid-row-start: r0;
  grid-row-end: r1;
}

.gdb-board-channels {
  grid-column-start: e3;
  grid-column-end: e4;
  grid-row-start: r1;
  grid-row-end: r2;
}

.gdb-board-customers {
  grid-column-start: e4;
  grid-column-end: e5;
  grid-row-start: r0;
  grid-row-end: r2;
}

.gdb-board-costStructure {
  grid-column-start: e0;
  grid-column-end: e2-5;
  grid-row-start: r2;
  grid-row-end: r3;
}

.gdb-board-revenue {
  grid-column-start: e2-5;
  grid-column-end: e5;
  grid-row-start: r2;
  grid-row-end: r3;
}
